<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.InviteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="inviteResultMap" type="com.huiyu.service.core.entity.Invite">
        <result column="id" property="id"/>
        <result column="inviter_id" property="inviterId"/>
        <result column="invitee_id" property="inviteeId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

</mapper>
