<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.PicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="picMap" type="com.huiyu.service.core.entity.Pic">
        <result column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="user_id" property="userId"/>
        <result column="task_id" property="taskId"/>
        <result column="model_id" property="modelId"/>
        <result column="parent_pic_id" property="parentPicId"/>
        <result column="reference_pic_id" property="referencePicId"/>
        <result column="status" property="status"/>
        <result column="path" property="path"/>
        <result column="prompt" property="prompt"/>
        <result column="negative_prompt" property="negativePrompt"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="seed" property="seed"/>
        <result column="subseed" property="subseed"/>
        <result column="model_code" property="modelCode"/>
        <result column="vae" property="vae"/>
        <result column="sampler_name" property="samplerName"/>
        <result column="steps" property="steps"/>
        <result column="cfg" property="cfg"/>
        <result column="enable_hr" property="enableHr"/>
        <result column="hr_upscaler" property="hrUpscaler"/>
        <result column="denoising_strength" property="denoisingStrength"/>
        <result column="hr_scale" property="hrScale"/>
        <result column="alwayson_scripts" property="alwaysonScripts"/>
        <result column="infotexts" property="infotexts"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="getById" resultMap="picMap">
        select *
        from pic
        where is_delete = 0
          and id = #{id}
    </select>

    <select id="getByUserId" resultMap="picMap">
        select *
        from pic
        where is_delete = 0
          and status = 1
          and user_id = #{userId}
    </select>

    <select id="getByUuid" resultMap="picMap">
        select *
        from pic
        where is_delete = 0
          and status = 1
          and uuid = #{uuid}
    </select>

    <select id="getParentPicIdById" resultType="java.lang.Long">
        select parent_pic_id
        from pic
        where is_delete = 0
          and id = #{id}
    </select>

    <insert id="insert">
        insert into pic (id, uuid, user_id, task_id, model_id, parent_pic_id, reference_pic_id, status, path,
                         prompt, negative_prompt, width, height, seed, subseed,
                         model_code, vae, sampler_name, steps, cfg,
                         enable_hr, hr_upscaler, denoising_strength, hr_scale, alwayson_scripts, infotexts,
                         create_time, update_time, is_delete)
        values (#{id}, #{uuid}, #{userId}, #{taskId}, #{modelId}, #{parentPicId}, #{referencePicId}, #{status}, #{path},
                #{prompt}, #{negativePrompt}, #{width}, #{height}, #{seed}, #{subseed},
                #{modelCode}, #{vae}, #{samplerName}, #{steps}, #{cfg},
                #{enableHr}, #{hrUpscaler}, #{denoisingStrength}, #{hrScale}, #{alwaysonScripts}, #{infotexts},
                #{createTime}, #{updateTime}, #{isDelete})
    </insert>

    <update id="updateByUuid">
        update pic
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="seed != null">
                seed = #{seed},
            </if>
            <if test="subseed != null">
                subseed = #{subseed},
            </if>
            <if test="alwaysonScripts != null and alwaysonScripts != ''">
                alwayson_scripts = #{alwaysonScripts},
            </if>
            <if test="infotexts != null and infotexts != ''">
                infotexts = #{infotexts},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <update id="deleteByUuid">
        update pic
        set is_delete = 1
        where uuid = #{uuid}
    </update>
</mapper>
