<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.PicShareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="picShareResultMap" type="com.huiyu.service.core.entity.PicShare">
        <result column="id" property="id"/>
        <result column="pic_id" property="picId"/>
        <result column="uuid" property="uuid"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="hits" property="hits"/>
        <result column="like_count" property="likeCount"/>
        <result column="draw_count" property="drawCount"/>
        <result column="status" property="status"/>
        <result column="audit_time" property="auditTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <resultMap id="picShareAdminVoResultMap" type="com.huiyu.service.core.model.vo.PicShareAdminVo">
        <association property="picShare" resultMap="picShareResultMap"/>
        <association property="pic" javaType="com.huiyu.service.core.entity.Pic">
            <result column="pic_status" property="status"/>
            <result column="pic_path" property="path"/>
            <result column="pic_type" property="type"/>
            <result column="pic_prompt" property="prompt"/>
            <result column="pic_negative_prompt" property="negativePrompt"/>
            <result column="pic_translated_prompt" property="translatedPrompt"/>
            <result column="pic_translated_negative_prompt" property="translatedNegativePrompt"/>
            <result column="pic_quality" property="quality"/>
            <result column="pic_ratio" property="ratio"/>
            <result column="pic_width" property="width"/>
            <result column="pic_height" property="height"/>
            <result column="pic_is_user_delete" property="isUserDelete"/>
            <result column="pic_create_time" property="createTime"/>
            <result column="pic_update_time" property="updateTime"/>
        </association>
        <association property="model" javaType="com.huiyu.service.core.entity.Model">
            <result column="model_id" property="id"/>
            <result column="model_name" property="name"/>
        </association>
        <association property="user" javaType="com.huiyu.service.api.entity.User">
            <result column="user_nickname" property="nickname"/>
            <result column="user_avatar" property="avatar"/>
        </association>
    </resultMap>

    <select id="adminPageQuery" resultMap="picShareAdminVoResultMap">
        select a.*,
               b.status                     as pic_status,
               b.path                       as pic_path,
               b.type                       as pic_type,
               b.prompt                     as pic_prompt,
               b.negative_prompt            as pic_negative_prompt,
               b.translated_prompt          as pic_translated_prompt,
               b.translated_negative_prompt as pic_translated_negative_prompt,
               b.quality                    as pic_quality,
               b.ratio                      as pic_ratio,
               b.width                      as pic_width,
               b.height                     as pic_height,
               b.is_user_delete             as pic_is_user_delete,
               b.create_time                as pic_create_time,
               b.update_time                as pic_update_time,
               c.id                         as model_id,
               c.name                       as model_name,
               d.user_id                    as user_user_id,
               d.nickname                   as user_nickname,
               d.avatar                     as user_avatar
        from pic_share as a
                 left join pic as b on a.pic_id = b.id
                 left join model as c on b.model_id = c.id
                 left join user as d on a.user_id = d.user_id
        where a.is_delete = 0
        and b.is_delete = 0
        and c.is_delete = 0
        and d.is_delete = 0
        <if test="query.uuid != null and query.uuid != ''">
            and a.uuid = #{query.uuid}
        </if>
        <if test="query.userId != null">
            and a.user_id = #{query.userId}
        </if>
        <if test="query.modelId != null">
            and b.model_id = #{query.modelId}
        </if>
        <if test="query.status != null">
            and a.status = #{query.status}
        </if>
        <if test="query.createTimeStart != null and query.createTimeEnd != null">
            and a.create_time >= #{query.createTimeStart}
        </if>
        <if test="query.createTimeStart != null and query.createTimeEnd != null">
            and a.create_time &lt;= #{query.createTimeEnd}
        </if>
        order by a.id desc
    </select>

    <resultMap id="picSharePageVoResultMap" type="com.huiyu.service.core.model.vo.PicSharePageVo">
        <result column="uuid" property="uuid"/>
        <result column="path" property="path"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="user_nickname" property="userNickname"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="title" property="title"/>
        <result column="like_count" property="likeCount"/>
    </resultMap>

    <select id="queryPage" resultMap="picSharePageVoResultMap">
        select b.uuid,
               b.path,
               b.width,
               b.height,
               d.nickname as user_nickname,
               d.avatar   as user_avatar,
               a.title,
               a.like_count
        from pic_share as a
                 left join pic as b on a.pic_id = b.id
                 left join user as d on a.user_id = d.user_id
        where a.is_delete = 0
          and b.is_delete = 0
          and d.is_delete = 0
          and a.status = #{picShareStatus}
          and a.audit_time &lt;= #{dto.queryDeadline}
        order by a.id desc
    </select>

    <resultMap id="picShareVoResultMap" type="com.huiyu.service.core.model.vo.PicShareVo">
        <result column="uuid" property="uuid"/>
        <result column="path" property="path"/>
        <result column="model_id" property="modelId"/>
        <result column="model_name" property="modelName"/>
        <result column="quality" property="quality"/>
        <result column="ratio" property="ratio"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
        <result column="cfg" property="cfg"/>
        <result column="user_nickname" property="userNickname"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="title" property="title"/>
        <result column="like_count" property="likeCount"/>
        <result column="draw_count" property="drawCount"/>
        <result column="audit_time" property="auditTime"/>
    </resultMap>

    <select id="getByUuid" resultMap="picShareVoResultMap">
        select b.uuid,
               b.path,
               b.model_id,
               b.quality,
               b.ratio,
               b.width,
               b.height,
               b.cfg,
               d.nickname as user_nickname,
               d.avatar   as user_avatar,
               a.title,
               a.hits,
               a.like_count,
               a.draw_count,
               a.audit_time
        from pic_share as a
                 left join pic as b on a.pic_id = b.id
                 left join user as d on a.user_id = d.user_id
        where a.is_delete = 0
          and b.is_delete = 0
          and d.is_delete = 0
          and a.status = #{picShareStatus}
          and a.uuid = #{uuid}
    </select>

    <select id="redraw" resultType="com.huiyu.service.core.model.vo.RedrawVo">
        select b.prompt          as prompt,
               b.negative_prompt as negativePrompt
        from pic_share as a
                 left join pic as b on a.pic_id = b.id
                 left join user as d on a.user_id = d.user_id
        where a.is_delete = 0
          and b.is_delete = 0
          and d.is_delete = 0
          and a.status = #{picShareStatus}
          and a.uuid = #{uuid}
    </select>

    <update id="addHitsByUuid">
        update pic_share
        set hits = hits + 1
        where is_delete = 0
          and uuid = #{uuid}
    </update>

    <update id="addRedrawCountByUuid">
        update pic_share
        set draw_count = draw_count + 1
        where is_delete = 0
          and uuid = #{uuid}
    </update>

</mapper>
