<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.PointRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResult" type="com.huiyu.service.core.entity.PointRecord">
        <id column="id" property="id"/>
        <result column="request_uuid" property="requestUuid"/>
        <result column="user_id" property="userId"/>
        <result column="num" property="num"/>
        <result column="operation_type" property="operationType" jdbcType="INTEGER"/>
        <result column="operation_source" property="operationSource"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

</mapper>
