<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="taskMap" type="com.huiyu.service.core.entity.Task">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="body" property="body" typeHandler="com.huiyu.service.core.handler.JsonTypeHandler"/>
        <result column="num" property="num"/>
        <result column="status" property="status"/>
        <result column="exec_source" property="execSource"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <insert id="insertTask">
        insert into task (id, user_id, type, body, num, status, exec_source, create_time, update_time, is_delete)
        values (#{id}, #{userId}, #{type}, #{body}, #{num}, #{status}, #{execSource}, #{createTime}, #{updateTime}, #{isDelete})
    </insert>

    <select id="getByStatus" resultMap="taskMap">
        select *
        from task
        where is_delete = 0
          and status = #{status}
        ORDER BY create_time asc
            limit #{limit}
    </select>

    <update id="update">
        update task
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="body != null and body != ''">
                body = #{body},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="execSource != null and execSource != ''">
                exec_source = #{execSource},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where is_delete = 0
        and id = #{id}
    </update>

</mapper>
