<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="taskMap" type="com.huiyu.service.core.entity.Task">
        <id column="id" property="id"/>
        <result column="request_uuid" property="requestUuid"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="body" property="body"/>
        <result column="point" property="point"/>
        <result column="status" property="status"/>
        <result column="exec_source" property="execSource"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <select id="getByStatus" resultMap="taskMap">
        select *
        from task
        where is_delete = 0
          and status = #{status}
          and exec_source = #{source}
        ORDER BY create_time asc
        limit #{limit}
    </select>

    <update id="batchUpdateBySource">
        update task
        set exec_source = #{targetExecSource}
        where id in (select t.id
                     from (select id
                           from task
                           where status = 0 and is_delete = 0 and exec_source = #{replaceExecSource}
                           limit #{limit}) as t)
    </update>

</mapper>
