<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.auth.UserMapper">

    <resultMap type="com.huiyu.service.api.entity.User" id="UserMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="openid" column="openid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="avatar" column="avatar"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="integral" column="integral"/>
        <result property="level" column="level"/>
        <result property="enabled" column="enabled"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and id = #{id}
    </select>

    <!--查询单个-->
    <select id="queryByOpenid" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and openid = #{openid}
    </select>

    <!--查询单个-->
    <select id="queryByUsername" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and username = #{username}
    </select>

    <!--查询单个-->
    <select id="queryByUserId" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and id = #{userId}
    </select>

    <update id="updateIntegralById">
        update user
        set integral = integral + #{integral}
        where is_delete = 0
          and id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        update user
        set is_delete = 1
        where is_delete = 0
          and id = #{id}
    </delete>

    <!--通过主键查询积分-->
    <select id="getIntegralById" resultType="java.lang.Integer">
        select integral
        from user
        where is_delete = 0
          and id = #{id}
    </select>
</mapper>
