<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huiyu.service.core.mapper.auth.UserMapper">

    <resultMap type="com.huiyu.service.api.entity.User" id="UserMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="openid" column="openid"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="avatar" column="avatar"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="dailyPoint" column="daily_point"/>
        <result property="point" column="point"/>
        <result property="level" column="level"/>
        <result property="enabled" column="enabled"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryByUserId" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and user_id = #{userId}
    </select>

    <!--查询单个-->
    <select id="queryByOpenid" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and openid = #{openid}
    </select>

    <!--查询单个-->
    <select id="queryByUsername" resultMap="UserMap">
        select *
        from user
        where is_delete = 0
          and username = #{username}
    </select>

    <!--查询积分-->
    <select id="getPointByUserId" resultType="java.lang.Integer">
        select daily_point + point
        from user
        where is_delete = 0
          and user_id = #{userId}
    </select>

    <update id="updatePointByUserId">
        update user
        set point = point + #{point}
        where is_delete = 0
          and user_id = #{userId}
    </update>
</mapper>
